* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}



body {
    position: relative;
    min-height: 100dvh;
    background: url("/img/bg.jpg") center center/cover no-repeat;
    margin: 0;
    overflow-x: hidden;

}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;

}

.timer_container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;


}




.timer {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;

}

.title h1 {
    color: #fff;
    padding-top: 250px;
    font-size: 50px;

}

.title img {
    position: relative;
    width: 100px;
    height: 100px;
    left: 550px;
    bottom: -220px;
}


.block_timer {
    color: #fff;
    font-size: 50px;
    padding: 5px;
    font-weight: 600;


}

.data-time {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 25px;
    padding: 0 10px;
    align-items: center;
    margin-top: 30px;
    max-width: 600px;
}



@keyframes flyUp {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(-120px) scale(1.4);
    }
}



.gift {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 1000;
    left: 50%;
    bottom: -100px;
    user-select: none;
    -webkit-user-drag: none;
}



.word {
    position: absolute;
    color: #00ffcc;
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
    animation: flyUp 1.2s ease-out forwards;
    z-index: 1000;
}



.snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.snowflake {
    position: absolute;
    top: -10px;
    font-size: 16px;
    color: white;
    animation: fall 10s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(95vh)
    }

}





@media screen and (max-width:1200px) {
    .title h1 {
        padding-top: 150px;
    }

    .timer_container {
        padding: 0 50px;

    }


}



@media screen and (max-width:768px) {
    .title h1 {
        padding-top: 150px;
        font-size: 40px;
    }

    .timer {
        max-width: 400px;
    }

    .data-time {

        max-width: 400px;
    }

}

@media screen and (max-width:620px) {
    .first {
        display: block;
    }

    .title h1 {
        padding: 140px 15px 0 15px;

    }
}

@media screen and (max-width:466px) {
    .data-time {
        font-size: 20px;
    }

    body {
        background: url(/img/bg_mini.jpg)center center/cover no-repeat;
    }

    .timer_container {
        padding: 0 20px;

    }

    .gift {
        width: 80px;
        height: 80px;
        bottom: -100px;
        left: 40px;

    }

}


@media screen and (max-width:320px) {
    .title h1 {
        color: #fff;

        font-size: 30px;
        padding: 150px 0 0 15px;

    }




    .first {
        display: block;
    }

    .block_timer {

        font-size: 30px;
    }

    .data-time {
        font-size: 15px;
    }

    .gift {
        width: 80px;
        height: 80px;
        bottom: -130px;
        left: 20px;

    }

}